<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/error.css">
    <title>Something went wrong</title>
</head>
<body>
    <% if (typeof currentUser !== 'undefined' && currentUser) { %>
        <%- include('partials/header') %>
    <% } %>
    <div class="formWrapper">
        <h2><%= status %></h2>
        <h3>Something went wrong</h3>
        <% if (message) { %>
            <p><%= message %></p>
        <% } %>
        <a href="/homepage" class="homeBtn">Back to home</a>
    </div>
    <% if (typeof dev !== 'undefined' && dev) { %>
        <%- include('partials/dev-reload') %>
    <% } %>
</body>
</html>
