<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club House</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <h1 id="title">Club House</h1>
    <div class="buttons">
        <a href="/homepage" class="btn" id="homepage">
            <div>Homepage</div>
            <div>-></div>
        </a>
        <a href="/login" class="btn" id="login">
            <div>Login</div>
            <div>-></div>
        </a>
        <a href="/signUp" class="btn" id="signUp">
            <div>Sign Up</div>
            <div>-></div>
        </a>
        <a href="/genSignUp" class="btn" id="genSignUp">
            <div>Gen Sign Up (fast and anonymous)</div>
            <div>-></div>
        </a>
    </div>
    <%- include('partials/dev-reload') %>
  </body>
</html>
