<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/joinClub.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="formWrapper">
        <h2>Club Login</h2>
        <form action="/joinClub" method="post" id="joinClubForm">
            <div class="inptWrapper">
                <label for="password">password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <span class="errors"><ul><% if (errors) {errors.forEach( error => { %>
                                        <li><%= error.msg %></li>
                                    <% })} %>
                                </ul></span>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="backWrapper">
        <a href="/homepage" class="homeBtn">Back to home</a>
    </div>
    <%- include('partials/dev-reload') %>
</body>
</html>